.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  background-color: white;
  height: 100%;
  width: 100%;
}
h1 {
  margin: 0;
  padding: 0;
}
nav {
  margin-top: 50px;
  display: flex;
  position: -webkit-sticky;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* position: sticky;
  top: 0; */
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: black;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}
.active {
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-color: green;
  color: green;
  text-decoration-thickness: 5px;
}
nav ul li a:not(.active):hover {
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-color: red;
  text-decoration-thickness: 5px;
}
nav .menu {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}
nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: black;
  border-radius: 0.2rem;
}
.title {
  display: none;
  margin-left: 20px;
}
hr {
  display: none;
}
/* .main-container {
  border-top: 2px solid black;
} */
.card-hr {
  display: block;
  height: 1px;
  background-color: black;
  width: 100%;
}
.main-div {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}
p {
  margin: 0;
  padding: 0;
}
.image {
  height: 200px;
  object-fit: cover;
}
.course-title {
  font-size: 22px;
  display: block;
  letter-spacing: 0.01rem;
  font-family: "Roboto", sans-serif;
}
.course-description {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}
.span-div {
  margin-left: 10px;
  font-size: 15px;
}
.card:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

@media (max-width: 950px) {
  .App {
    margin-top: 0px;
  }
  nav .menu,
  .title {
    display: flex;
  }
  .active {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: green;
    color: green;
    text-decoration-thickness: 5px;
  }
  nav ul li a:not(.active):hover {
    text-decoration: none;
  }
  hr {
    display: block;
    height: 5px;
    border: none;
    background-color: black;
    width: 100%;
  }
  nav .menu {
    cursor: pointer;
    margin-top: -7px;
    position: absolute;
  }
  nav {
    flex-direction: column;
    align-items: start;
    margin-top: 0;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  nav ul.open {
    display: flex;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    width: 100%;
    text-align: center;
  }
  nav ul li a {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }
  h1 {
    display: block;
  }
  /* .main-container {
    border-top: none;
  } */
}
